*{
    font-family: "Roboto", sans-serif;
}
.blurR {
    display: block;
    width: 20px;
    height: 40px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    position: absolute;
    top: 52px;
    right: 0;
    z-index: 50;
}

.blurL {
    display: block;
    width: 20px;
    height: 40px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: absolute;
    top: 52px;
    left: 0;
    z-index: 50;
}

.localCon .btnTab {
    text-align: left;
    overflow-x: scroll;
}

.localCon .btnTab .btn_inner {
    white-space: nowrap;
}

.localCon .btnTab .btn_inner:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

.localCon .btnTab span {
    font-size: 12px;
    color: #999;
}

.localCon .btnTab {
    display: block;
    content: '';
    clear: both
}

.localCon .btnTab li {
    display: inline-block;
    height: 42px;
    padding: 0 4px;
    margin-right: 16px;
    font-weight: 500;
    font-size: 15px;
    line-height: 42px;
    color: #333;
}

.localCon .btnTab li:first-child {
    margin-left: 16px;
}

.localCon .btnTab li:last-child {
    margin-right: 16px;
}

.localCon .btnTab a.on {
    display: block;
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: #EF3231;
    border-bottom: 2px solid #EF3231;
}

.localCon .content {
    padding: 32px 16px 16px;
    background: #f7f7f7;
    min-height: calc(100vh - 142px);
}

.localCon .cTit {
    margin-top: 24px;
    font-size: 20px;
    font-weight: bold;
    color: #111;
}

.localCon .cTit span {
    font-size: 16px;
    font-weight: 400;
    color: #999;
}

.localCon .pTxt {
    color: #555;
}

.localCon .list_contact>li:last-child {
    padding-bottom: 16px;
}

.localCon .country {
    margin: 24px 0 12px;
    font-size: 16px;
    font-weight: bold;
    color: #111;
}

.localCon .country img {
    display: inline-block;
    margin-top: -1px;
    margin-right: 8px;
    width: 24px;
    border: 1px solid #ddd;
    vertical-align: middle;
}

.localCon .sec {
    padding: 16px 16px 0;
    background: #fff;
    border-radius: 4px;
}

.localCon .sec .info h4 {
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: 400;
    color: #333;
}

.localCon .sec .info .name {
    font-size: 15px;
    font-weight: 500;
    color: #333;
}

.localCon .sec .info .num {
    font-size: 12px;
    color: #999;
}

.localCon .sec .info .btn_link {
    display: inline-block;
    font-size: 12px;
    color: #40A3FF;
    text-decoration: underline;
}

.localCon .sec .info .btn_link.noLink {
    text-decoration: none;
    color: #999;
    cursor: context-menu;
}

.localCon .sec .manager>li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 8px;
    padding-bottom: 16px;
    border-bottom: 1px solid #eee;
}

.localCon .sec .manager>li:last-child {
    border-bottom: 0;
}

.localCon .sec .manager .info {}

.localCon .sec .btnZone .label {
    display: inline-block;
    text-indent: -9999px;
}

.localCon .sec .btnZone .btn {
    display: inline-block;
    margin-left: 12px;
    width: 32px;
    height: 32px;
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.localCon .sec .btnZone .btn_call {
    background-image: url(../images/common/ico_phone.svg);
}

.localCon .sec .btnZone .btn_whatsApp {
    background-image: url(../images/common/ico_whats.svg);
}

.empty_area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.empty_area img {
    margin-bottom: 8px;
}

.empty_area p {
    color: #555;
}

.empty_area p {
    font-size: 15px;
}

.toastPop {
    left: 0;
    z-index: 300;
}

.contact.on {
    bottom: 0;
}

.toastPop .popManagerBox .info {
    padding: 0 16px;
}

.toastPop .popManager {
    padding: 24px 16px;
}

.toastPop .company {
    color: #333;
}

.toastPop .popManager .country {
    margin: 0 0 8px 0;
    font-size: 16px;
    font-weight: 500;
}

.toastPop .popManager .country img {
    margin-right: 8px;
    width: 24px;
    height: auto;
    vertical-align: middle;
    margin-top: -4px;
}

.toastPop .popManager .popManager {
    margin-top: 24px;
    text-align: center;
}

.toastPop .popManager .popName {
    font-size: 16px;
    font-weight: 500;
    color: #111;
    text-align: center;
}

.toastPop .popManager .popBtn {
    display: block;
    width: 100%;
    margin-top: 12px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 500;
}

.toastPop .popManager .popBtn_call {
    border: 1px solid #ddd;
}

.toastPop .popManager .popBtn_call img {
    display: inline-block;
    margin: -2px 6px 0 0;
    width: 20px;
    vertical-align: middle;
}

.toastPop .btn_close {
    position: absolute;
    top: 0;
    right: 0;
}

.toastPop .btn_close i {
    display: block;
    width: 48px;
    height: 48px;
    background: url(../images/common/ico_closePop.svg) no-repeat center;
}

.toast_overlay {
    display: none;
    position: fixed;
    bottom: 52px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99;
}

.btnTab {
    -ms-overflow-style: none;
}

/*íŠ¹ì • ë¶€ë¶„ ìŠ¤í¬ë¡¤ë°” ì—†ì• ê¸°*/
.btnTab::-webkit-scrollbar {
    display: none;
}

/* About Us */
.aboutArea {
    background: #000
}

.aboutArea .tit {
    padding: 0 24px 24px;
    font-size: 26px;
    line-height: 1.4;
    color: #fff;
    font-weight: bold
}

.aboutArea .tit+p {
    padding: 0 24px;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    font-weight: 300
}

.aboutArea>div {
    padding: 32px 0
}

.aboutArea .top {
    padding-bottom: 240px;
    background: url(/assets/img/bg_aboutUs.png) 0 0 no-repeat;
    background-size: 100%
}

.aboutArea .top .tit {
    padding: 32px 24px 24px;
    color: #0E0C0C;
    font-size: 30px;
    font-weight: bold
}

.aboutArea .top .tit+p {
    color: #4B4545;
    font-weight: 400
}

.aboutArea .swiper-container {
    margin-bottom: 20px
}

.aboutArea .swiper-slide img {
    width: 100%
}

.aboutArea .swiper-pagination-bullet {
    background: #fff;
    opacity: .6
}

.aboutArea .swiper-pagination-bullet-active {
    background: #FF4646
}

.aboutArea .platform p {
    margin-bottom: 66px;
}

.aboutArea .platform a {
    display: block;
    position: relative;
    margin: 0 24px 30px;
    height: 38px;
    font-size: 0;
    color: #000;
}

.aboutArea .platform a:after {
    display: block;
    content: '';
    width: 38px;
    height: 38px;
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/content/btn_blank.svg) 0 0 no-repeat;
}

.aboutArea .platform .autowini_link {
    background: url(../images/content/logo_autowini.svg) 0 0 no-repeat
}

.aboutArea .platform .partswini_link {
    background: url(../images/content/logo_partswini.svg) 0 0 no-repeat
}

.aboutArea .platform .logis_link {
    background: url(../images/content/logo3_1total.png) 0 0 no-repeat;
    background-size: 61%
}

.aboutArea .globalCount .tit+span {
    display: block;
    margin: -12px 24px 40px;
    font-size: 12px;
    color: #E1D8D8
}

.aboutArea .globalCount .count {
    padding: 0 24px
}

.aboutArea .globalCount .count li {
    margin: 14px 0;
    padding-left: 64px;
}

.aboutArea .globalCount .gc1 {
    background: 0 -6px no-repeat
}

.aboutArea .globalCount .gc2 {
    background: 0 -6px no-repeat
}

.aboutArea .globalCount .gc3 {
    background: 0 -6px no-repeat
}

.aboutArea .globalCount .count li span {
    display: block;
    font-size: 15px;
    color: #E1D8D8
}

.aboutArea .globalCount .count li strong {
    display: block;
    font-size: 30px;
    color: #fff
}

.aboutArea .globalCount .count li b {
    font-weight: bold;
}

.aboutArea .dealers dl {
    padding: 0 24px 24px
}

.aboutArea .dealers dt {
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: bold;
    color: #fff
}

.aboutArea .dealers dt strong {
    margin-right: 10px;
    font-size: 32px;
    font-weight: bold;
    color: #787070;
    vertical-align: middle
}

.aboutArea .dealers dd {
    margin-bottom: 16px;
    font-size: 15px;
    line-height: 1.5;
    color: #E1D8D8
}

.aboutArea .dealers img {
    width: 100%
}

.aboutArea .aucLocal .tit+p {
    margin: -12px 0 32px
}

.aboutArea .aucLocal .tit+p:before {
    display: inline-block;
    content: '';
    margin-right: 6px;
    width: 6px;
    height: 6px;
    background: #DD1F26;
    border-radius: 50%;
    vertical-align: middle
}

.aboutArea .aucLocal .local {
    margin: 0 24px 24px;
    padding-left: 28px;
    background: url(/assets/img/ic_map.svg) 0 0 no-repeat;
}

.aboutArea .aucLocal .local b {
    display: block;
    margin-bottom: 8px;
    font-size: 15px;
    font-weight: 500;
    color: #fff
}

.aboutArea .aucLocal .local span {
    display: block;
    font-size: 15px;
    color: #E1D8D8;
    font-weight: 300;
}

.aboutArea .aucLocal a {
    display: block;
    margin: 20px 24px;
    padding-left: 28px;
    color: #fff;
    line-height: 24px;
    background: url(../images/content/ic_call.svg) 0 0 no-repeat;
}

.aboutArea .aucLocal a:after {
    display: inline-block;
    content: '';
    margin-left: 12px;
    width: 19px;
    height: 19px;
    background: url(../images/content/btn_blank.svg) 0 -2px no-repeat;
    background-size: 23px;
    vertical-align: middle
}

.aboutArea .joinus {
    padding: 16px 0 64px
}

.aboutArea .joinus .btn_area {
    padding: 0 24px
}