.ft_nav {
    display: none
}

.member_area {
    margin-bottom: 13px
}

.member_area li {
    margin-top: 12px
}

.main_logo_wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 33px
}

.main_logo_wrap img {
    width: 200px;
    height: auto
}

.login_inner {
    padding: 0 16px
}

.login_inner input[type="text"],
.login_inner input[type="password"] {
    height: 48px
}

.login_inner input::placeholder {
    color: #999 !important;
    font-weight: 400 !important
}

.pwd_visible_btn {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 15px;
    background: center / cover no-repeat url(/assets/img/ico_pw_view.png);
    z-index: 10
}

.pwd_visible_btn.on {
    background: center / cover no-repeat url(/assets/img/ico_pw_view_on.png)
}

input[type="checkbox"]+label {
    font-size: 14px;
    padding-left: 28px;
    padding-top: 2px
}

input[type="checkbox"]+label:after {
    content: '';
    width: 24px;
    height: 24px;
    background: center / cover no-repeat url(../images/renewal/ico_check.png)
}

input[type="checkbox"]:checked+label:after {
    background: center / cover no-repeat url(../images/renewal/ico_check_on.png)
}

.login_condition_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px
}

.btn_findPwIn {
    margin: 0
}

.btn_findPwIn .btn_findPw {
    color: #333;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    text-decoration: underline
}

.btn_area button.btn_red {
    background: #e82020;
    height: 52px;
    line-height: 52px;
    font-weight: 700;
    font-size: 16px
}

.login_info {
    position: absolute;
    width: calc(100% - 32px);
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%)
}

.login_info dt {
    font-size: 14px;
    font-weight: 400;
    color: #777;
    margin-bottom: 12px
}

.login_info dd button {
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    padding: 12px 0
}

.contents {
    position: relative;
    min-height: 100vh;
}

.login_limit {
    padding: 0 40px 48px;
    text-align: center
}

.login_limit p {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 15px
}

.limit_area {
    padding: 0 16px;
    text-align: center
}

.limit_area dl {
    margin: 74px 0 34px;
    padding-top: 90px;
    background: url(../images/content/ico_limit.svg) center 0 no-repeat
}

.limit_area dt {
    font-size: 18px;
    font-weight: bold;
}

.limit_area dd {
    margin-top: 12px
}

.limit_area .btn_area {
    display: flex;
    align-items: center;
    position: absolute;
    width: calc(100% - 32px);
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
}

.limit_area .btn_area .btn_Gwhite {
    flex: 1;
    margin-right: 10px
}

.limit_area .btn_area .btn_red {
    flex: 4;
    margin: 0;
    height: 42px;
    line-height: 42px;
    font-size: 14px
}