@charset "utf-8";

.contents {
    padding-bottom: 0;
}

.main .tit_ad {
    font-size: 13px;
    color: #888;
    font-weight: 300
}

.main_cs {
    border: none;
    position: relative;
    padding: 24px 16px 32px;
    background: #F1F1F2;
}

.main_cs .tit_ad {
    margin-bottom: 24px;
}

.main_cs .mail {
    margin-top: 16px;
    text-align: center;
    font-size: 13px;
    color: #909090;
}

.main_cs .mail a {
    color: #0B83E6;
}

.main_cs ul {
    white-space: nowrap;
}

.main_cs .list li {
    position: relative;
    display: block;
    margin-bottom: 8px;
    padding: 16px 16px 16px 0;
    background: #fff;
    border-radius: 4px;
}

.main_cs .list li:last-child {
    margin-bottom: 0;
}

.main_cs .list li img {
    width: 70px;
}

.main_cs .list li .name {
    display: inline-block;
    font-size: 14px;
    color: #505050;
    font-weight: 500;
}

.main_cs .list li .lang {
    position: relative;
    top: -1px;
    display: inline-block;
    padding: 1px 6px;
    font-weight: bold;
    font-size: 10px;
    color: #000;
    border: 1px solid #eee;
    border-radius: 20px;
}

.main_cs .list .info {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
    text-align: center;
}

.main_cs .list .btn {
    padding-left: 100px;
}

.main_cs .list .btn a {
    display: block;
    height: 36px;
    font-size: 13px;
    color: #707070;
    line-height: 36px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.main_cs .list .btn a span {
    position: relative;
    display: inline-block;
    padding-left: 16px;
    letter-spacing: -.1px;
}

.main_cs .list .btn a span:after {
    content: '';
    position: absolute;
    top: 0;
    left: -14px;
    display: block;
    width: 20px;
    height: 36px;
}

.main_cs .list .whatsapp {
    position: relative;
    margin-top: 8px;
}

.main_cs .list .whatsapp span:after {
    background: url(../images/common/ico_whats.svg) no-repeat left center;
    background-size: 20px;
}

.in_reviews {
    padding: 45px 0 0
}

.in_reviews dl {
    padding: 13px 18px;
    text-align: left
}

.in_reviews dt {
    float: left;
    font-size: 16px;
    line-height: 1.6;
    color: #1f1f1f;
    font-weight: 500;
}

.in_reviews dt em {
    display: block;
    font-size: 12px;
    color: #303030;
    font-weight: 300;
}

.in_reviews dd {
    float: right;
    margin-top: 30px;
    font-size: 12px;
    color: #808080;
    text-align: right
}

.in_reviews iframe {
    display: block;
    margin: 0 auto;
    vertical-align: top
}

.in_reviews .text {
    padding: 16px 18px;
    text-align: left;
}

.in_reviews .text strong {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500
}

.in_reviews .text p {
    /* margin-bottom: 20px; */
}

.in_reviews .star {
    width: 71px;
}

.in_reviews .star,
.in_reviews .star span {
    display: inline-block;
    height: 12px;
    overflow: hidden;
    background: url(../images/common/bg_star.png) no-repeat;
}

.in_reviews .star span {
    background-position: left bottom;
    line-height: 0;
    vertical-align: top;
}

.pop_review {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    display: none;
}

.pop_review .modal-content {
    position: relative;
    padding: 0;
    margin: 0 auto;
    max-width: 340px;
    background: #fff;
    border-radius: 8px;
}

.pop_review .flag {
    display: inline-block;
    margin-right: 6px;
    width: 20px;
    height: auto;
    border: 1px solid #eee;
    vertical-align: middle;
}

.pop_review img {
    width: 94%;
    display: block;
    height: 200px;
    object-fit: cover;
    margin: 0 auto
}

.pop_review .modal_popup_close {
    z-index: 10000
}

.testAccount {
    padding: 4px 16px 0;
}

.testAccount select {
    height: 32px;
    line-height: 32px;
}

/*이천센터*/
.main .center {
    padding: 24px 0 32px;
}

.main .center .titBox {
    padding: 0 16px 24px 16px;
}

.main .center .titBox .tit {
    margin-bottom: 6px;
}

.main .center img {
    display: block;
    margin: 0 auto 16px;
    width: 100%
}

.main .center a {
    display: block;
    margin: 0 16px;
    line-height: 48px;
    color: #fff;
    background: #1E4F98;
    text-align: center;
    border-radius: 3px;
}

/*AUCMOB-418 메인리뉴얼*/
.hideTxt {
    overflow: hidden;
    text-indent: -9999px;
    position: absolute;
    top: -9999px;
    top: -9999px;
}

.main .head .btn_signUp {
    display: inline-block;
    margin-left: 4px;
    height: 32px;
    padding: 0 6px;
    line-height: 32px;
    font-weight: 500;
    border: 1px solid #111;
    border-radius: 3px;
}

.main .head .btn_push {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url(../images/common/ico_pushNoti.svg) no-repeat center;
}

.main .head .btn_push.on:after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 7px;
    right: 7px;
    border-radius: 50%;
    background: #e0000c;
    animation: twingkle 1s linear infinite;
    -webkit-animation: twingkle 1s linear infinite;
    border: 2px solid #fff;
}

.main .head .btn_myAccount {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: url(../images/common/ico_myAccount.svg) no-repeat center;
}

.main .head .sign_btn_area {
    font-size: 13px;
    color: #111;
    display: flex;
    white-space: nowrap;
    align-items: center;
}

/*es*/
.es .main .head .logo img {
    height: 24px;
}

.es .main .head .btn_signUp {
    font-size: 12px;
}

.es .main .head .btn_signIn {
    font-size: 12px;
}

.main .innerAlert {
    text-align: center;
    background: #ffe5e5;
    animation: bgColor 3s linear infinite;
    padding: 7px 4px;
}

.main .innerAlert a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
    background: url(../images/common/ico_arr.svg) right center no-repeat;
    background-size: 9px;
}

.main .innerAlert strong {
    margin-right: 4px;
    font-size: 12px;
    font-weight: bold;
    color: #e0000c
}

.main .innerAlert span {
    font-size: 12px;
    text-align: left
}

.ko .main .innerAlert span {
    font-size: 11px
}

.main .innerAlert b {
    color: #e0000c
}

@-webkit-keyframes bgColor {
    0% {
        background: #ffe5e5
    }

    50% {
        background: #FAC2C2
    }

    100% {
        background: #ffe5e5
    }
}

.main .searchLinkBox {
    background: #f9f9f9;
    padding: 16px 16px 4px
}

.main .searchLinkBoxInput {
    position: relative;
    background: #FFFFFF url(../images/common/ico_schRed.png) no-repeat 7px center;
    padding: 8px 8px 8px 26px;
    border: 1px solid #eee;
    border-radius: 5px
}

.main .searchLinkBoxFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    line-height: 14px
}

.main .searchLinkBoxText {
    font-size: 12px
}

.main .searchLinkBoxUnit {
    text-align: right;
    font-size: 12px;
    color: #C00000;
    font-weight: 500
}

.main .searchLinkBoxUnit em {
    font-weight: 500
}

.main .membership {
    position: relative;
    padding: 8px 16px;
    background: #222;
}

.main .membership:after {
    content: '';
    display: block;
    position: absolute;
    top: -4px;
    right: 29px;
    width: 10px;
    height: 10px;
    background: #222;
    transform: rotate(45deg);
}

.main .membership .basic {
    display: inline-block;
    margin-left: 4px;
    padding-left: 20px;
    color: #fff;
    font-size: 12px;
    background: url(../images/common/ico_memberBasic.svg) no-repeat left center;
}

.main .membership .userId {
    color: #fff;
    font-weight: bold;
}

.main .membership a {
    float: right;
    font-size: 13px;
    color: #E2AE26;
    text-decoration: underline;
}

.main .live {
    padding: 12px 16px 16px;
    background: #f9f9f9;
}

.main .live h2 {
    padding-top: 16px;
    margin-bottom: 16px;
    font-size: 20px;
    color: #111;
    font-weight: bold;
}

.main .liveCon {
    background: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 20px rgba(6, 18, 50, 0.2);
}

.main .liveCon dl {
    padding: 20px 16px;
}

.main .liveCon dl .stateTit {
    margin-bottom: 8px;
    font-size: 13px;
    color: #777;
    font-weight: 500;
}

.main .liveCon dl dd .date {
    display: inline-block;
    margin-right: 4px;
    font-size: 19px;
    font-weight: 600;
    vertical-align: middle;
}

.main .liveCon dl dd .stateDate {
    display: inline-block;
    padding: 0 10px;
    font-size: 15px;
    font-weight: 500;
    color: #EF3231;
    background: #FFEFEF;
    border-radius: 60px;
    vertical-align: middle;
    /* text-transform:UPPERCASE; */
}

.main .liveCon .btnZone {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.main .liveCon .btnZone a {
    display: block;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 500;
    background: #333;
    color: #fff;
}

.main .liveCon .btnZone .btnJoin {
    display: none;
}

.main .liveCon .liveOff {
    display: block;
}

.main .liveCon .liveOn {
    display: none;
}

.main .liveCon .neon {
    display: none;
}

/*라이브옥션 날일때*/
.main .liveCon.today .stateTit.liveOn {
    display: block;
}

/*라이브옥션 진행 중일때*/
.main .liveCon.on .btnZone {
    display: flex;
}

.main .liveCon.on .btnJoin {
    display: block;
    font-weight: bold;
    background: #EF3231;
    color: #fff;
}

.main .liveCon.on .btnZone a {
    width: 50%;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -.2px;
}

.main .liveCon.today .liveOn {
    display: block;
}

.main .liveCon.today .liveOff {
    display: none;
}

.main .liveCon.on .neon {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    background: #EF3231;
    border-radius: 50%;
}

.main .liveCon.on .neon:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #EF3231;
    opacity: 0.3;
    border-radius: 50%;
    animation: neon 0.7s ease infinite;
    -moz-animation: neon 0.7s ease infinite;
    -webkit-animation: neon 0.7s ease infinite;
    animation-direction: alternate;
    -moz-animation-direction: neon 0.7s ease infinite;
    -webkit-animation-direction: neon 0.7s ease infinite;
}

@keyframes neon {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.8);
    }
}

@-webkit-keyframes neon {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.8);
    }
}

@keyframes twingkle {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.5);
    }
}

@-webkit-keyframes twingkle {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.5);
    }
}

.main .setting {
    display: flex;
    padding: 0 16px 16px;
    background: #f5f5f5;
}

.main .setting .select_area {
    flex: auto;
    background: none;
}

.main .setting select {
    padding: 0 22px 0 8px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    border: 1px solid #eee;
    background: #fff url(../images/common/ico_selectArr.svg) no-repeat center right 4px;
    background-size: 14px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.main .setting button {
    flex: none;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: left;
    padding: 0 8px 0 8px;
    background: #fff;
    border: 1px solid #eee;
    border-left: 0;
    background-size: 14px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.main .setting button img {
    display: inline-block;
    margin: -1px 2px 0 0;
    vertical-align: middle;
}

.main .info_domesticBid {
    padding: 0 16px 24px;
    background: #f5f5f5
}

.main .info_domesticBid a {
    display: block;
    padding: 0 16px;
    height: 45px;
    line-height: 45px;
    font-size: 13px;
    font-weight: bold;
    background: #facccc url(../images/common/ico_arr.svg) no-repeat right 16px center;
    border-radius: 8px
}



.main .recommend {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #eee;
}

.main .recommend h3 {
    flex: 0 0 auto;
    padding: 0 16px;
    font-size: 14px;
    color: #333;
    align-self: center;
}

.main .recommend a {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    color: #168FFF;
    background: #EEF7FF;
    border-radius: 40px;
}

.main .recommendScroll {
    overflow-x: scroll;
    /* -ms-overflow-style:none; */
    padding: 16px 0;
}

.main .recommendScroll::-webkit-scrollbar {
    /* display:none; */
}

.main .recommendScroll ul {
    white-space: nowrap
}

.main .recommendScroll ul li {
    display: inline-block;
    margin-right: 4px;
}

.main .recommendScroll ul li:last-child {
    margin-right: 16px;
}

.main .featured {
    padding: 24px 0 32px;
    border-bottom: 1px solid #eee
}

.main .featured h2.tit {
    padding: 0 16px
}

.main .featured .titBox {
    position: relative;
}

.main .featured .titBox .right {
    position: absolute;
    top: 4px;
    right: 16px;
    color: #888;
    font-size: 12px;
    left: auto;
    width: auto;
}

.main .featured .titBox .right .swiper-pagination-current {
    color: #333;
}

.main .item a {
    display: block
}

.main .item .thumbnail {
    position: relative;
    border-radius: 4px;
    padding: 0 16px
}

.main .item .thumbnail .viewImg {
    background-color: #1f1f1f;
    background-repeat: no-repeat;
    background-position: center;
    height: 68vw;
    background-size: cover;
    border-radius: 4px;
    position: relative;
}

.main .item .badge_common {
    margin-top: 4px;
    padding: 0 4px;
    height: 18px;
    line-height: 16px;
    border-radius: 3px;
    font-size: 11px;
    border: 0;
    vertical-align: middle;
}

.main .item .badge_high_run {
    background: #fff;
    color: #0B83E6;
    border: 1px solid #0B83E6;
}

.main .item .badge_high_engine {
    border: 1px solid #111;
    color: #111;
    background: #fff;
}

.main .item .thumbnail .badge_bg {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 4px;
    border-top-right-radius: 4px;
}

.main .item .thumbnail .video {
    display: block;
    margin: 0 6px;
    width: 18px;
    height: 24px;
    vertical-align: middle;
    background: url(../images/common/ico_videoStock.svg) no-repeat center;
    background-size: 18px;
}

.main .item .thumbnail .roro {
    display: block;
    padding: 0 8px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.main .item .thumbnail .verified {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 65px;
    height: 65px;
    background: url(../images/common/ico_mk1.png) 0 0 no-repeat;
    background-size: 65px
}

.main .item .thumbnail .verified.vEs {
    background: url(../images/common/ico_mk2.png) 0 0 no-repeat;
    background-size: 65px
}

.main .item .thumbnail .verified.vNd {
    background: url(../images/common/ico_mk3.png) 0 0 no-repeat;
    background-size: 65px
}

.badge_rent:before {
    border-width: 11px 6px 11px 0;
}

.badge_rent span {
    height: 29px;
}

.timeLeft {
    text-align: center;
    background: #222;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    height: 24px;
    line-height: 24px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.timeLeft strong {
    display: inline-block;
    margin-right: 4px;
    opacity: 0.7
}

.main .thumList li a {
    display: block;
    width: 100%;
    height: 100%;
}

.main .thumList li.on {
    border: 2px solid #e0000c;
}

.main .thumList li img {
    width: 100%;
    height: 14vw;
    object-fit: cover;
    border-radius: 4px
}

.main .item .thumInfo {
    padding: 12px 16px 0
}

.main .item .thumInfo .carTit {
    margin: 10px 0 6px;
    font-size: 15px;
    color: #111;
    font-weight: 500;
}

.main .item .thumInfo .price {
    font-size: 20px;
    font-weight: bold;
    color: #111;
}

.main .thumList-container {
    padding: 0 16px
}

.main .thumList {
    display: flex;
    justify-content: space-between;
    margin-top: 18px
}

.main .thumList li {
    box-sizing: border-box
}

.main .swiper-slide-thumb-active:after {
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    border: 2px solid #e0000c;
    z-index: 10;
    border-radius: 4px
}

.main .featured .noData {
    padding-top: 16px;
    text-align: center;
}

.main .featured .noData p {
    width: 280px;
    margin: 16px auto 16px;
    color: #777;
}

.popLanguage {}

.popLanguage {
    position: fixed;
    transform: translateY(100%);
    left: 0;
    width: 100%;
    background: #fff;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    z-index: 400;
    transition: .33s all ease-in-out
}

.popLanguage.on {
    bottom: 0;
    transform: translateY(0%)
}

.popLanguage .inner {
    padding: 32px 24px 0;
}

.popLanguage .tit {
    margin-bottom: 16px;
    font-size: 20px;
}

.popLanguage li {
    height: 48px;
}

.popLanguage li button {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    text-align: left;
}

.popLanguage li.on button {
    color: #EF3231;
    background: url('../images/common/ico_check_on.svg') no-repeat center right;
}

.popLanguage .btn_close {
    display: block;
    margin-top: 16px;
    width: 100%;
    height: 52px;
    line-height: 52px;
    font-size: 15px;
    color: #555;
    text-align: center;
    border-top: 1px solid #eee;
}

.timeTitle {
    flex: 0 0 auto;
    font-size: 13px;
    color: #CCC;
    margin-right: 8px
}

.timeClock {
    flex: 0 0 auto;
    display: flex;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

.timeClock .clockDisplayGrp {
    position: relative;
}

.timeClock .numberGrp {
    width: auto;
    display: block;
    height: 24px;
    float: left;
    overflow: hidden;
}

.timeClock .numberGrpWrp {
    width: 100%;
    position: relative;
}

.timeClock .num {
    position: relative;
    height: 24px;
}

.timeClock p {
    width: auto;
    display: table;
    font-size: 13px;
    line-height: 24px;
    font-weight: 500;
    color: #FFF
}

.clock-separator {
    width: auto;
    display: block;
    height: 24px;
    margin-right: 4px;
}

.shipping_discount_wrap img {
    width: 100%;
}

/* 리뉴얼 디자인 */
.mainArea {
    background: #f5f5f5
}

.mainArea .head {
    position: relative;
    height: 52px;
    display: flex;
    align-items: center;
    background: #fff
}

.mainArea .head .logo {
    margin-left: 16px;
}

.mainArea .head .logo img {
    height: 24px;
}

.mainArea .head .right {
    margin-left: auto;
    margin-right: 16px;
}

.mainArea .quickMenu {
    display: flex;
    align-items: center
}

.mainArea .quickMenu a {
    display: block;
    font-size: 0;
    width: 25px;
    height: 25px;
    padding: 0 20px
}

.mainArea .quickMenu .btn_settings {
    background: url('/assets_/img/gnb_global.svg') center no-repeat
}

.mainArea .quickMenu .btn_push {
    background: url('/assets_/img/gnb_notification.svg') center no-repeat
}

.mainArea .quickMenu .btn_my {
    background: url('/assets_/img/gnb_my.svg') center no-repeat
}

.mainArea .innerAlert {
    text-align: center;
    background: #fdd4d4;
    padding: 7px 4px;
}

.mainArea .innerAlert a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-right: 14px;
    background: url(../images/common/ico_arr.svg) right top 3px no-repeat;
    background-size: 9px;
}

.mainArea .innerAlert strong {
    margin-right: 8px;
    font-size: 12px;
    font-weight: bold;
    color: #e0000c
}

.mainArea .innerAlert span {
    font-size: 12px;
    text-align: left
}

.mainArea .innerAlert span b {
    color: #e0000c;
    font-weight: bold
}

.ko .mainArea .innerAlert span {
    font-size: 11px
}

.mainArea .banner {
    position: relative;
    overflow: hidden;
}

.mainArea .banner li img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.mainArea .banner .count {
    position: absolute;
    bottom: 8px;
    right: 10px;
    padding: 2px 8px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 60px;
    font-size: 11px;
    z-index: 999;
    left: auto;
    width: auto;
}

.mainArea .tit {
    margin-bottom: 16px;
    font-size: 18px;
    color: #0e0c0c;
    font-weight: 700;
}

.mainArea .tit a {
    display: block;
    padding-right: 40px;
    width: 100%;
    background: url('/assets_/img/ico_next_24px.svg') right 6px no-repeat;
    background-size: 18px
}

#mainCrushed .tit a,
#mainLess5 .tit a {
    background: url('/assets_/img/ico_next_redB.png') right 4px no-repeat;
    background-size: 22px
}

.mainArea .sections {
    padding: 28px 20px;
    background: #fff
}

.auctionLive {
    margin: 10px 16px 16px;
    padding: 12px 0;
    background: #111;
    color: #fff;
    border-radius: 8px
}

.auctionLive .tit {
    padding: 0 16px 12px;
    margin: 0 0 8px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

.auctionLive .aucTit {
    position: relative;
    padding: 8px 90px 8px 16px;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
}

.auctionLive .aucTit span {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 12px;
    color: #fff;
    font-size: 12px;
    line-height: 12px;
    font-weight: 400;
    border-radius: 50px;
    transform: translateY(-50%);
}

.auctionLive .aucTit .mark {
    display: none;
    padding: 4px 6px 5px 22px;
    background: #404040 url('/assets_/img/ico_clock_white.svg') 4px center no-repeat;
}

.auctionLive .aucTit .mark.non {
    display: none;
    background: #404040;
    padding: 4px 6px 5px;
}

.auctionLive .mkToday {
    padding: 4px 6px 5px;
    background: #0666E4;
}

.auctionLive ul {
    padding: 0 12px 8px
}

.auctionLive li {
    padding: 0 40px 0 18px;
    position: relative;
}

.auctionLive li:before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 15px;
    left: 10px;
    width: 3px;
    height: 3px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px
}

.auctionLive li.off:before {
    background: rgba(255, 255, 255, 0.2);
}

.auctionLive li.off .aucLine dt,
.auctionLive li.off .aucLine dd span {
    color: rgba(255, 255, 255, 0.2)
}

.auctionLive li.active:before {
    width: 5px;
    height: 5px;
    box-shadow: 0px 0px 5px 1px #ff474e;
    background: #ff0000;
    animation-name: blink;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
}

.auctionLive li.active:after {
    position: absolute;
    top: 8px;
    right: 0;
    content: 'LIVE';
    font-size: 13px;
    line-height: 1;
    padding: 4px 5px;
    background: #dd1f26;
    border-radius: 2px
}

.auctionLive .aucLine {
    padding: 6px 4px;
}

.auctionLive .aucLine dt {
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: 500;
    color: #fff
}

.auctionLive .aucLine dd {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
}

.auctionLive .aucLine dd span+span:before {
    display: inline-block;
    content: '|';
    margin-right: 6px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.15);
    font-weight: 300
}

.ru .auctionLive .aucTit,
.mn .auctionLive .aucTit {
    padding-right: 110px
}

.es .auctionLive .aucTit span,
.ru .auctionLive .aucTit span,
.mn .auctionLive .aucTit span {
    font-size: 11px;
}

.mn .auctionLive .aucTit,
.ru .auctionLive .aucTit {
    font-size: 15px;
}

.mn .auctionLive .aucLine dt,
.ru .auctionLive .aucLine dt {
    font-size: 13px;
    font-weight: 400
}

@-webkit-keyframes blink {
    0% {
        box-shadow: 0px 0px 0px 0px #ff474e
    }

    100% {
        box-shadow: 0px 0px 8px 2px #ff474e
    }
}

.aucSchedule {
    padding: 30px 0;
    background: #F3F5FA;
}

.aucSchedule .tit {
    margin-bottom: 16px;
    padding: 4px 20px 0;
    font-size: 18px;
    color: #0e0c0c;
    font-weight: 700;
}

.aucSchedule .mainSchedule {
    padding-bottom: 24px
}

.aucSchedule li {
    background: #fff;
    border-radius: 8px;
}

.aucSchedule dt {
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    text-align: center;
    background: #101010;
    border-radius: 8px 8px 0 0;
}

.aucSchedule dd {
    padding: 12px 12px 16px;
    min-height: 160px;
}

.aucSchedule .none dd,
.aucSchedule .off dd {
    position: relative;
    height: calc(100% - 41px);
    padding: 0;
}

.aucSchedule .none dd a,
.aucSchedule .off dd a {
    display: none;
    font-size: 0
}

.aucSchedule .off dd:before,
.aucSchedule .none dd:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    background: url(../images/main/bg_symbol.svg) center no-repeat;
    transform: translate(-50%, -50%)
}

.aucSchedule dd a {
    display: block;
    padding: 6px 8px;
    font-size: 15px;
    color: #707070;
    background: #fff;
    border-radius: 4px
}

.aucSchedule dd a:before {
    display: inline-block;
    margin-right: 8px;
    content: '';
    width: 3px;
    height: 3px;
    background: #909090;
    border-radius: 3px;
    vertical-align: middle
}

.aucSchedule dd a:hover {
    background: #f5f5f5;
    color: #303030
}

.aucSchedule .on {
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.2)
}

.aucSchedule .on dt {
    background: #dd1f26
}

.aucSchedule .on a {
    color: #101010;
    font-weight: 500;
}

.aucSchedule .on a:before {
    background: #303030
}

.aucSchedule .off dt {
    color: #d0d0d0;
    background: #fff;
    border-bottom: 1px solid #eee
}

.mainArea .support {
    padding: 0 20px 28px;
}

.mainArea .supportList li {
    background: #fff;
    text-align: center;
    border-radius: 6px;
}

.mainArea .supportList li+li {
    margin-top: 4px
}

.mainArea .supportList li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 6px;
    background: url(../images/common/new/ico_next_24px.svg) right 16px center no-repeat;
}

.mainArea .supportList li a img {
    padding: 2px 12px;
    margin-right: 12px;
    background: #f4f4f4;
    border-radius: 4px
}

.mainArea .supportList.seller li a img {
    padding: 6px 12px;
}

.mainArea .supportList li a span {
    font-size: 15px;
    color: #0e0c0c;
}

.mainSwiper {
    padding: 20px 0;
    background: #fff
}

.mainSwiper .tit {
    padding: 4px 20px 0;
}

.mainSwiper .img {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 196px;
    border-radius: 4px 4px 0 0;
    overflow: hidden
}

.mainSwiper .img img {
    width: 100%;
    object-fit: contain
}

.mainSwiper .img .new {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 0;
}

.mainSwiper .img .new:after {
    content: '';
    display: inline-block;
    width: 32px;
    height: 16px;
    background: url('/assets_/img/iconNew.svg') center no-repeat;
    background-size: cover
}

.mainSwiper .img .event {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: #E6BC5F;
    padding: 0 20px;
    font-weight: 500;
}

.mainSwiper .img .badge {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 8px;
    left: 8px
}

.mainSwiper .img .badge span {
    display: inline-block;
    padding: 3px 5px 4px;
    font-size: 11px;
    line-height: 11px;
    color: #fff;
    font-weight: 400;
    background: rgba(17, 17, 17, 0.9);
    border-radius: 2px;
    vertical-align: top
}

.mainSwiper .img .badge .rental {
    background: #FB9600;
    color: #000
}

.mainSwiper .img .badge .video {
    padding: 0;
    width: 17px;
    height: 17px;
    margin-right: 4px;
    background: url(../images/common/ico_youtube.svg) center no-repeat;
    background-size: 32px;
    border-radius: 30px
}

.mainSwiper .info {
    padding: 12px;
    margin-bottom: 8px;
    border: 1px solid #e4eaef;
    border-radius: 0 0 4px 4px
}

.mainSwiper .info .inspected {
    display: inline-block;
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: 500;
    padding-left: 18px;
    background: url(../images/common/ic_inspected.png) 0 center no-repeat;
    background-size: 14px;
    vertical-align: middle;
}

.mainSwiper .info .dropped {
    display: inline-block;
    position: relative;
    margin-bottom: 6px;
    font-size: 12px;
    font-weight: 500;
    padding-left: 18px;
    background: url(../images/common/ic_dropped.png) 0 center no-repeat;
    background-size: 14px;
    vertical-align: middle;
}

.mainSwiper .info .inspected+.dropped {
    margin-left: 6px;
    background-position: 12px center;
    padding-left: 30px
}

.mainSwiper .info .inspected+.dropped:before {
    content: '|';
    position: absolute;
    top: 0;
    left: 0;
    color: #e0e0e0;
    font-weight: 300;
}

.mainSwiper .info dt {
    position: relative;
    margin-bottom: 6px;
    padding-right: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #0e0c0c;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.mainSwiper .info dt img {
    position: absolute;
    top: 2px;
    right: 0;
    height: 18px;
}

.mainSwiper .info .damage span {
    display: inline-block;
    padding: 2px 4px 2px;
    font-size: 11px;
    line-height: 11px;
    color: #707578;
    background: #fff;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    vertical-align: top
}

.mainSwiper .info .damage .hit {
    color: #0075D6;
    background: #E7F4FF;
    border: 1px solid #0075d666
}

.mainSwiper .info .damage em {
    font-size: 11px;
    color: #9b9292
}

.mainSwiper .infoDetail {
    display: flex;
    align-items: flex-end
}

.mainSwiper .infoDetail ul {
    flex: 1;
    margin-top: 8px;
}

.mainSwiper .infoDetail li {
    padding: 2px 6px 2px 28px;
    font-size: 13px;
    line-height: 20px;
    color: #787070
}



.mainSwiper .infoDetail .price {
    flex: 1;
    text-align: right
}

.mainSwiper .infoDetail .price span {
    font-size: 11px;
    color: #9b9292;
    letter-spacing: 0.2px
}

.mainSwiper .infoDetail .price b {
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    line-height: 1.1;
    color: #0e0c0c;
    font-weight: 700;
    letter-spacing: -.4px
}

.mainSwiper .infoDetail .price button {
    padding: 5px 20px 6px;
    font-size: 11px;
    line-height: 11px;
    color: #fff;
    background: #dd1f26;
    font-weight: 400;
    letter-spacing: 0.2px;
    border-radius: 2px
}

.sections .columnList {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap
}

.columnList li {
    width: 48%;
    margin: 2px 10px 2px 0;
    text-align: left;
    display: flex;
    align-items: center;
    min-height: 32px
}

.columnList li:nth-child(even) {
    margin-right: 0;
}

.columnList li img {
    width: 23px;
    max-height: 23px
}

.columnList li span {
    flex: 1;
    margin-left: 8px;
    font-size: 12px;
    line-height: 1;
    color: #707578
}

.columnList li em {
    margin-left: auto;
    padding-right: 8px;
    font-size: 12px;
    color: #707578;
}

.featuresList .columnList li span {
    margin: 0;
    width: 100%;
    font-size: 14px;
    color: #4b4545;
    font-weight: 500
}

.es .featuresList .columnList li span {
    font-size: 13px
}

.ru .featuresList .columnList li span {
    font-size: 13px
}

.featuresList .columnList li:first-child img {
    width: 16px
}

.findByMakes .columnList li:nth-last-child(n+15) {
    display: none
}

.mainArea .reviews {
    padding: 24px 0
}

.mainArea .reviews .tit {
    padding: 0 20px
}

.mainArea .reviews p {
    margin-top: -6px;
    padding: 0 100px 20px 20px;
    color: #787070;
    background: url(../images/common/new/bg_reviews.svg) right top no-repeat;
}

.mainArea .reviews .img {
    height: 140px;
    background: #101010
}

.mainArea .reviews .con {
    font-size: 12px;
    color: #0e0c0c;
    height: 50px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
}

.mainArea .reviews .flag {
    display: block;
    margin-top: 10px;
}

.mainArea .reviews .flag img {
    margin-right: 4px;
    height: 14px;
    vertical-align: middle
}

.mainArea .sold .inner {
    display: flex;
    animation: side-scroll 180s linear infinite;
    width: max-content
}

.mainArea .sold .inner:hover {
    animation-play-state: paused;
}

.mainArea .sold .item {
    position: relative;
    margin: 0 4px;
    width: 154px;
    border: 1px solid #e4eaef
}

.mainArea .sold .img {
    display: flex;
    align-items: center;
    position: relative;
    width: 154px;
    max-height: 120px;
    overflow: hidden
}

.mainArea .sold .img img {
    width: 100%
}

.mainArea .sold .img:after {
    display: block;
    content: 'SOLD';
    position: absolute;
    top: 6px;
    left: 6px;
    padding: 3px 8px;
    background: #4b4545;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    text-align: center;
}

.mainArea .sold .price {
    position: relative;
    padding: 8px;
}

.mainArea .sold .price span {
    padding-bottom: 2px;
    height: 44px;
    font-size: 15px;
    color: #4b4545;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    text-align: left
}

.mainArea .sold .price strong {
    display: block;
    padding-top: 4px;
    font-size: 16px;
    font-weight: 600;
    text-align: right;
}

@keyframes side-scroll {
    from {
        transform: translateX(0%);
        -moz-transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -o-transform: translateX(0%);
        -ms-transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
    }
}

.mainVideo .top strong {
    display: block;
    padding: 6px 0 12px;
    font-weight: 500;
    word-break: break-word;
}

.mainVideo .bottom {
    overflow-y: scroll
}

.mainVideo .bottom ul {
    padding: 12px 0;
    white-space: nowrap
}

.mainVideo .bottom li {
    display: inline-block;
    position: relative;
    width: 120px;
    height: 144px;
    margin-right: 8px;
    vertical-align: top
}

.mainVideo .bottom li span {
    display: block;
    margin-top: 4px;
    word-break: break-word;
    font-size: 12px;
    color: #606060;
    white-space: pre-wrap
}

.mainVideo .bottom li img {
    width: 120px;
    height: 74px;
    object-fit: cover;
}

.mainVideo .bottom li.on span {
    color: #dd1f26;
    font-weight: 500
}

.mainVideo .bottom li.on:before {
    content: '';
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    background-size: 32px;
}

.mainVideo .btnWrap {
    display: flex;
    align-items: center;
    margin-top: 24px;
    padding: 0 32px;
    height: 46px;
    background: #f5f5f5;
    border-radius: 46px;
}

.mainVideo .btnWrap strong {
    flex: 3;
    color: #101010;
    font-weight: 500;
}

.mainVideo .btnWrap a {
    flex: 1;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.mainVideo .btnWrap a+a {
    margin-right: 0
}

.mainVideo .btnWrap .facebook {
    background: url('/assets_/img/ic_fb_on.svg') center no-repeat;
    background-size: 10px;
}

.mainVideo .btnWrap .youtube {
    margin-left: 15px;
    background: url('/assets_/img/ic_it_on.svg') center no-repeat;
    background-size: 20px;
}

.mainVideo .btnWrap .insta {
    margin-left: 18px;
    background: url('/assets_/img/ic_tk_on.svg') center no-repeat;
    background-size: 19px;
}

.mainVideo .btnWrap .tiktok {
    margin-left: 18px;
    background: url('/assets_/img/ic_yt_on.svg') center no-repeat;
    background-size: 18px;
}

.mainArea .works .tit {
    padding-bottom: 24px
}

.mainArea .works dl {
    margin-left: 9px;
    position: relative;
    padding: 50px 0 50px 24px;
    border-left: 1px dashed #dd1f26
}

.mainArea .works dl.non {
    background: none
}

.mainArea .works dl:before {
    display: inline-block;
    content: '1';
    position: absolute;
    top: 0;
    left: -11px;
    width: 21px;
    height: 21px;
    line-height: 22px;
    font-size: 12px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    background: #dd1f26;
    border-radius: 50%;
}

.mainArea .works .mid:before {
    content: '2'
}

.mainArea .works .last:before {
    content: '3'
}

.mainArea .works dt {
    margin-bottom: 6px;
    margin-top: -62px;
    font-size: 17px;
    color: #0e0c0c;
    font-weight: 600
}

.mainArea .works dt img {
    display: block;
    margin-bottom: 12px;
    height: 36px;
    opacity: 0.8
}

.mainArea .works .last dt img {
    height: 41px
}

.mainArea .works dd {
    font-size: 14px;
    color: #787070;
    line-height: 1.5
}

.mainArea .works dd b {
    color: #4b4545;
    font-weight: 500
}


.mainArea .memOption {
    padding: 24px 0;
    text-align: center
}

.mainArea .memOption .tit {
    padding-top: 38px;
}

.mainArea .memOption .innerBg {
    padding: 16px 0 24px;
    background: #0E0C0C;
}

.mainArea .memOption li {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 300;
}

.mainArea .memOption li span {
    flex: 1.5 1 0;
    text-align: left;
    padding: 0 6px 0 8px;
    font-size: 13px;
    line-height: 1.1
}

.mn .mainArea .memOption li span,
.ru .mainArea .memOption li span {
    font-size: 12px;
}

.mainArea .memOption li em {
    flex: 1 1 0;
    height: 100%
}

.mainArea .memOption .title1 {
    padding-bottom: 12px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.1
}

.mainArea .memOption .con {
    min-height: 36px;
    background: #4b4545;
    border-bottom: 1px solid #0e0c0c
}

.mainArea .memOption .con em {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    height: 37px;
    background: #3f3939;
}

.mainArea .memOption .con em.checked {
    background-image: url('/assets_/img/ico_checked.svg');
    background-position: center;
    background-repeat: no-repeat
}

.mainArea .memOption .con em+em {
    background: #4b4545
}

.mainArea .memOption .con em+em+em {
    background: #3f3939
}

.mainArea .memOption p {
    padding: 16px;
    font-size: 12px;
    color: #c9c1c1
}

.mainArea .memOption button {
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 48px;
    font-size: 16px;
    line-height: 48px;
    background: #dd1f26;
    color: #fff;
}

.mainArea .appdown {
    padding-bottom: 32px;
    text-align: center;
}

.mainArea .appdown .tit {
    padding-top: 232px;
    background: url('/assets_/img/img_bidAnytime.png') center 0 no-repeat
}

.mainArea .appdown p {
    font-size: 15px;
    color: #45484b
}

.mainArea .appdown .btnArea {
    display: flex;
    align-items: center;
    padding: 24px 0 0
}

.mainArea .appdown .btnArea a {
    flex: 1;
    margin: 0 8px;
    height: 47px
}

.footer {
    width: 100%;
    background: #181818;
    margin-top: -1px;
}

.ft_inner {
    padding: 0 0 60px;
}

.fot_top {
    padding: 30px 0;
}

.fot_top .ft_tit {
    text-align: center;
    ;
    font-size: 18px;
    color: #fff;
    font-weight: 700
}

.fot_top .em_ad {
    margin: 20px 0 10px;
    padding: 10px 0;
    position: relative;
}

.fot_top .em_ad li {
    float: left;
    width: 78%
}

.fot_top .em_ad li+li {
    margin-left: 5px;
    width: 20%
}

.fot_top .em_ad li input[type="text"] {
    width: 100%;
    height: 40px;
    border: none;
    background: #fff;
    padding: 0 15px;
    line-height: 40px
}

.fot_top .em_ad .btn_em {
    width: 100%;
    height: 40px;
    color: #fff;
    background: #e0000c;
}

.fot_bot {
    width: 100%;
    padding: 16px 0;
    position: relative
}

.fot_bot .ft_links {
    position: relative;
    text-align: center;
}

.fot_bot .ft_links.logos {
    padding: 16px 0 0;
    border-top: 1px solid #4b4545
}

.fot_bot .ft_links ul li {
    display: inline-block;
}

.fot_bot .ft_links a {
    display: block;
    margin: 0 6px;
    width: 48px;
    height: 48px;
    text-indent: -99999px
}

.fot_bot .ft_links .ft_logo {
    display: inline-block;
    margin: 0 6px;
    width: 90px;
    height: 30px;
    font-size: 0;
    background: url(/assets/img/bt_partswini.svg) no-repeat center;
    background-size: contain;
    opacity: 0.5
}

.fot_bot .ft_links a.partswini_link {
    background: url(/assets/img/bt_partswini.svg) no-repeat center;
    background-size: contain;
}

.fot_bot .ft_links a.winiLogis_link {
    background: url(/assets/img/bt_partswini.svg) no-repeat center;
    background-size: contain;
    opacity: 0.3
}

.fot_bot .ft_links a.ft_facebook {
    background: url(/assets/img/bt_partswini.svg) no-repeat center;
    background-size: 48px;
}

.fot_bot .ft_links a.ft_youtube {
    background: url(../images/common/new/bt_youtube.svg) no-repeat center;
    background-size: 48px
}

.fot_bot .ft_links a.ft_insta {
    background: url(../images/common/new/bt_insta.svg) no-repeat center;
    background-size: 48px
}

.fot_bot .fb_dw {
    margin-top: 15px;
}

.fot_bot .fb_dw button {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    display: block;
    border: 1px solid #999;
    border-radius: 3px;
}

.fot_bot .fb_dw button span {
    padding-left: 35px;
    color: #999;
    font-size: 12px;
}

.fot_bot .fb_address {
    margin-top: 28px;
    padding: 32px 0 24px;
    text-align: center;
    ;
    font-size: 11px;
    color: #9b9292;
    background: url(/assets/img/bt_auctionwini.svg) center top no-repeat
}

.aucLines{
    padding: 6px 4px;
}
.aucLines dt{
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.aucLines dd{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
}

.aucLines dd span+span:before {
    display: inline-block;
    content: '|';
    margin-right: 6px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.15);
    font-weight: 300;
}
.nones{
    display: none;
}
